body {
  background-color: rgb(27, 7, 138);

  #root {
    width: 350px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(27, 7, 138);
    border-radius: 10px;
    background-color: rgb(241, 245, 10);
    box-shadow: 10px 10px rgb(241, 245, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin-left: auto;
      margin-right: auto;
      color: rgb(27, 7, 138);
    }

    .writeBox {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    .buttonBox {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      display: flex;
      gap: 20px;
    }

    button {
      background-color: rgb(27, 7, 138);
      color: rgb(241, 245, 10);
      border-radius: 5px;
    }

    .todoNumberBox {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      font-weight: bold;
      color: rgb(27, 7, 138);
    }

    .todoBox {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      color: rgb(27, 7, 138);
    }
  }
}