body {
  background-color: aqua;

  #root {
    width: 350px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin-left: auto;
      margin-right: auto;
    }
  }
}